/sqlite3.Row_example.py
/README
/scratch.py
/scratch2.py
/MJournal.spec
/build/
/dist/
/venv/
/LICENSE
/HOWTO
/main.spec
/settings.py.old
/settings_old.py
/backups/
/src/
/old/
/MJournal_Linux_0.7.8.1.tar.gz
/MJournal_Linux_0.7.8.1.tar.gz
/prevent_starting_with_removeddb.py
/path_append_modules-demo.py
/mlineRightClickOperations.py
